<p id="notice"></p>
<div class="container">
 <div class="row">
  <div class ="col-sm-12 col-md-8 col-lg-5 px-5 mx-auto">
    <h1>退会確認画面</h1>
    <%= "退会してしまうと現在のアカウントでログインすることができなくなってしまいます。" %><br>
    <%= "それでも退会しますか？" %><br>
    <%= link_to "退会する", withdrawal_path, method: :patch, "data-confirm" => "本当に退会しますか？", class: "btn btn-danger" %>
    <%= link_to "退会しない", '/customers/mypage', class: "btn btn-primary" %>
  </div>
 </div>
</div>