<p id="notice"></p>
<h4>注文詳細画面</h4>
    <% @order_lists.each do |order_list| %>
      <tr>
        <td><%= order_list.item_id %></td>
        <td>
        </td>
        <td></td>
      </tr>
    <% end %>